/**
 * This is the awesome LESS CSS stylesheet for BANTP :D
 */

/** PRIMARY STYLES **/
* {
	font-family: NovecentowideBookBold;
}
body {
	height: 1000px;
	width: 1920px;
	background: -webkit-linear-gradient( #1B70E0 , #0A317A );
}
h1 {
	font-family: NovecentowideBookBold;
}